<main>
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
        <div class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-3 overflow-hidden bg-white shadow-lg px-12">
            <div class="flex justify-between">
                <div class="py-3 text-left text-2xl font-bold leading-4 text-blue-500">
                    {{user.fullName}} 상세 정보
                </div>
            </div>
        </div>
        <div class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
            <table class="min-w-full">
                <thead>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">No</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">이름</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">생년월일</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">키</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">몸무게</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">성별</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">주소</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">핸드폰번호</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">담당트레이너</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300"></th>
                    <th class="px-6 py-3 border-b-2 border-gray-300"></th>
                </tr>
                </thead>
                <tbody class="bg-white">
                {{#user}}
                    <tr>
                        <td class="px-6 py-3 whitespace-no-wrap border-b border-gray-500">
                            <div class="flex items-center">
                                <div>
                                    <div class="text-sm leading-5 text-gray-800">{{ id }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5"><a href="/user/detail/{{ id }}">{{ fullName }}</a></td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ birthdayToString }}</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ height }}cm</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ weight }}kg</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ genderToString }}</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ address }}</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ phoneToString }}</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b border-gray-500 text-blue-900 text-sm leading-5">{{ trainer.adminName }} </td>
                    </tr>
                {{/user}}
                </tbody>
            </table>
            <table class="my-10 min-w-full">
                <thead>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">No</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">이름</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">생년월일</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">키</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">몸무게</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">성별</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">주소</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">핸드폰번호</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-blue-500 tracking-wider">담당트레이너</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300"></th>
                    <th class="px-6 py-3 border-b-2 border-gray-300"></th>
                </tr>
                </thead>
                <tbody class="bg-white">
                {{#user}}
                    <tr>
                        <td class="px-6 py-3 whitespace-no-wrap border-b border-gray-500">
                            <div class="flex items-center">
                                <div>
                                    <div class="text-sm leading-5 text-gray-800">{{ id }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5"><a href="/user/detail/{{ id }}">{{ fullName }}</a></td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ birthdayToString }}</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ height }}cm</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ weight }}kg</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ genderToString }}</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ address }}</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ phoneToString }}</td>
                        <td class="px-6 py-3 whitespace-no-wrap border-b border-gray-500 text-blue-900 text-sm leading-5">{{ trainer.adminName }} </td>
                    </tr>
                {{/user}}
                </tbody>
            </table>
        </div>
    </div>
</main>